/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap"); */

@import url(./font-face.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.detailProgramSection {
  overflow-x: hidden;
  font-family: 'poppinsregular';
}

.detailProgram {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailProgram .top {
  margin-top: 93px;
  width: 100vw;
  height: 100%;
}

.detailProgram .top .top-img-container {
  position: relative;
  /* z-index: -1; */
}

.detailProgram .top .top-img-container img {
  width: 100vw;
  height: auto;
  position: absolute;
  z-index: -1;
}

.detailProgram .text-hero {
  padding: 150px 0;
}

.detailProgram .text-hero p {
  color: #eaeaea;
}

.detailProgram .top .text-hero p:nth-child(2) {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.detailProgram .top .text-hero p:nth-child(3),
.detailProgram .top .text-hero p:nth-child(4),
.detailProgram .top .text-hero p:nth-child(5) {
  font-weight: 500;
}

.detailProgram .gambar_banner img {
  width: 305px;
  height: auto;
  object-fit: cover;
}


div.detailProgram .middle {
  margin: 2rem 0 5rem 13rem;
  line-height: 1.7;
  width: 100%;
  height: 100%;
}

/* SWIPER */
.detailProgram .bottom {
  /* width: 100%; */
  height: fit-content;
  margin-bottom: 5rem;
}

.bottom .bottom-swiper-container {
  width: 100vw;
  transform: translateX(10%);
}

.scrollVideo {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 0 0 1rem;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.scrollVideo .video {
  background-color: rgb(176, 176, 176);
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.scrollVideo .video:last-child {
  visibility: hidden;
}

/* END OF SWIPER */

/* MEDIA FOR PROGRAM DETAIL */
@media (max-width: 575.98px) {
  .detailProgram .top {
    height: 85vh;
  }
  .detailProgram .top .top-img-container img {
    width: 100vw;
    object-fit: none;
    object-position: 7%;
    height: 85vh;
  }
  .detailProgram .middle {
    margin: 3rem 0;
  }
  .detailProgram .top .top-logo-container {
    top: 7%;
  }
  .detailProgram .top .top-logo-container p {
    width: 90vw;
  }
  .scrollVideo {
    grid-auto-columns: 75%;
  }
  .detailProgram .text-hero {
    padding: 20px;
  }
  .detailProgram .gambar_banner img {
    width: 300px;
  }
  .detailProgram .top .text-hero p:nth-child(2) {
    font-size: 16px;
    margin-top: 10px;
  }
  .detailProgram .top .text-hero p:nth-child(4) {
    font-size: 14px;
    font-weight: 100;
    line-height: 25px;
  }
  div.detailProgram .middle {
  margin: 1rem 0 5rem 5rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .detailProgram .top {
    height: 100vh;
  }
  .detailProgram .top .top-img-container img {
    width: 100%;
    height: 75vh;
  }
  .detailProgram .middle {
    margin: 3rem 0;
  }
  .detailProgram .top .top-logo-container {
    top: 7%;
  }
  .detailProgram .top .top-logo-container p {
    width: 90vw;
  }
  .detailProgram .text-hero {
    padding: 20px 70px 70px 70px;
  }
  .detailProgram .top .text-hero p:nth-child(2) {
    font-size: 18px;
  }

  .detailProgram .gambar_banner img {
    width: 370px;
  }
  div.detailProgram .middle {
    margin: 1rem 0 5rem 5rem;
    }

    .scrollVideo {
      grid-auto-columns: 40%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .detailProgram .middle {
    margin: 4rem 0;
  }
  .detailProgram .top {
    height: auto;
    /* margin-bottom: 2.5rem; */
  }
  .detailProgram .top .top-logo-container img {
    width: 240px;
  }
  .detailProgram .text-hero {
    padding: 40px 0 110px 70px;
  }
  .detailProgram .top .text-hero p:nth-child(2) {
    font-size: 22px;
  }
  .detailProgram .top .text-hero p:nth-child(4) {
    font-size: 14px;
    font-weight: 100;
    line-height: 25px;
  }
  div.detailProgram .middle {
    margin: 1rem 0 5rem 6rem;
    }

    .scrollVideo {
      grid-auto-columns: 30%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .detailProgram .top {
    height: auto;
    /* margin-bottom: 5rem; */
  }
  .detailProgram .top .text-hero p:nth-child(2) {
    font-size: 22px;
  }
  .detailProgram .text-hero {
    padding: 50px 0 170px 0px;
  }
.detailProgram .gambar_banner img {
  width: 380px;
}
}

@media (min-width: 1200px) {
  .detailProgram .top .top-logo-container img {
    width: 300px;
  }
  .detailProgram .top .top-logo-container p {
    font-size: 1.5rem;
  }
  .detailProgram .middle {
    font-size: 1.5rem;
  }
  .detailProgram .top {
    margin-bottom: 7rem;
  }
  .detailProgram .gambar_banner img {
    width: 410px;
  }
  .detailProgram .text-hero {
    padding: 70px 0 130px;
  }
}

@media (min-width: 1400px) {
  .detailProgram .gambar_banner img {
    width: 480px;
  }
  .detailProgram .text-hero {
    padding: 105px 0 210px;
  }
}

@media (min-width: 2100px) {
  .detailProgram .middle {
    font-size: 1.5rem;
  }
  .detailProgram .top .top-logo-container img {
    width: 500px;
  }
  .detailProgram .top .top-logo-container p {
    font-size: 2rem;
  }
  .detailProgram .top {
    margin-bottom: 15rem;
  }
}
/* END OF MEDIA FOR PROGRAM DETAIL */
